<ion-view view-title="device">
  <ion-content>
  <ul class="list">
  	<div class="item item-divider text-center">
     	About this device
  	</div>
    <li class="item">
      <i class="icon  ion-camera"> model:{{model}}</i>
    </li>
    <li class="item">
      <i class="icon  ion-briefcase"> platform:{{platform}}</i>
    </li>
    <li class="item">
      <i class="icon  ion-ios-list-outline"> version:{{version}}</i>
    </li>
    <li class="item">
      <i class="icon  ion-wrench"> cordova:{{cordova}}</i>
    </li>
    <li class="item">
      <i class="icon  ion-android-laptop"> UUID:{{UUID}}</i>
    </li>
  </ul>
  </ion-content>
</ion-view>

