<ion-view view-title="Toast">
  <ion-content>
  	<div class="card">
  		<div class="item item-divider text-center">
	    	show a Toast
		</div>
		<div class="item  text-center">
			<button class="button button-block button-positive" ng-click="top('Hello. How are you?')">
				Show a Toast ( Top )
			</button>
		</div>	
		<div class="item  text-center">	
			<button class="button button-block button-royal" ng-click="center('Hello. How are you?')">
				Show a Toast ( Center )
			</button>
		</div>	
		<div class="item  text-center">	
			<button class="button button-block button-energized" ng-click="bottom('Hello. How are you?')">
				Show a Toast ( Bottom )
			</button>
		</div>	
	</div>	
	</ion-content>	
</ion-view>